# dependencies
node_modules
package-lock.json

# TypeScript
tsconfig.json

# tests
tslint.json
test
dist-test

# editor
.editorconfig

# SCM
.gitignore

# output of `npm pack`
forfuture-migrate-*.tgz

# misc.
_resources
.*.js
.*.yml
